<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ofc.ofccoin">

    <!--网络权限问题-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--8.0安装需要的权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--读写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--读取手机信息-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!--9.0权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!--录音权限-->
    <!--<uses-permission android:name="android.permission.RECORD_AUDIO" />-->

    <!-- 振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 极光推送 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 极光推送 -->

    <application
        android:name="com.ofc.ofccoin.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:windowIsTranslucent="false">
        <activity
            android:name="com.ofc.ofccoin.activity.HelloActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"><!--//全屏-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ofc.ofccoin.utils.permission.PermissionsActivity"
            android:label="权限页" />
        <activity
            android:name="com.ofc.ofccoin.activity.GuideActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="引导页" />
        <activity
            android:name="com.ofc.ofccoin.activity.SelectCountryActivity"
            android:label="选择国家" />
        <activity
            android:name="com.ofc.ofccoin.activity.MainActivity"
            android:label="主页" />
        <activity
            android:name="com.ofc.ofccoin.activity.LoginActivity"
            android:label="登录" />
        <activity
            android:name="com.ofc.ofccoin.activity.ForgetPasswordActivity"
            android:label="忘记密码" />
        <activity
            android:name="com.ofc.ofccoin.activity.RegisteredActivity"
            android:label="注册" />
        <activity
            android:name="com.ofc.ofccoin.activity.WebContentActivity"
            android:label="网页" />

        <activity
            android:name="com.ofc.ofccoin.activity.PastListActivity"
            android:label="往期列表" />
        <!--我的-->
        <activity
            android:name="com.ofc.ofccoin.activity.MyProfileActivity"
            android:label="资料管理" />
        <activity
            android:name="com.ofc.ofccoin.activity.SetTransactionPasswordActivity"
            android:label="修改交易密码" />
        <activity
            android:name="com.ofc.ofccoin.activity.ChangePasswordActivity"
            android:label="修改登录密码" />
        <activity
            android:name="com.ofc.ofccoin.activity.SelectAddressActivity"
            android:label="地址管理" />
        <activity
            android:name="com.ofc.ofccoin.activity.SetAddressActivity"
            android:label="ETH地址管理和GUS地址管理" />
        <activity
            android:name="com.ofc.ofccoin.activity.ChangeServiceNumActivity"
            android:label="修改服务代码" />
        <activity
            android:name="com.ofc.ofccoin.activity.ServiceCenter_NoActivity"
            android:label="服务中心-未申请" />
        <activity
            android:name="com.ofc.ofccoin.activity.ServiceCenter_YesActivity"
            android:label="服务中心-申请通过" />
        <activity
            android:name="com.ofc.ofccoin.activity.ServiceCenter_MoreActivity"
            android:label="服务中心-列表" />
        <activity
            android:name="com.ofc.ofccoin.activity.SetServiceCenterActivity"
            android:label="服务中心-创建" />
        <activity
            android:name="com.ofc.ofccoin.activity.ShareActivity"
            android:label="推广" />
        <activity
            android:name="com.ofc.ofccoin.activity.SharePeopleActivity"
            android:label="推广用户" />
        <activity
            android:name="com.ofc.ofccoin.activity.AccountDetailActivity"
            android:label="我的钱包" />
        <activity
            android:name="com.ofc.ofccoin.activity.MyRechargeActivity"
            android:label="我的充值" />
        <activity
            android:name="com.ofc.ofccoin.activity.RechargeDetailActivity"
            android:label="充值详情" />
        <activity
            android:name="com.ofc.ofccoin.activity.TakeCashActivity"
            android:label="提现" />
        <activity
            android:name="com.ofc.ofccoin.activity.MyTakeCashActivity"
            android:label="我的提现" />
        <activity
            android:name="com.ofc.ofccoin.activity.TakeCashDetailActivity"
            android:label="提现详情" />
        <activity
            android:name="com.ofc.ofccoin.activity.InvitationRewardActivity"
            android:label="有奖邀请" />
        <activity
            android:name="com.ofc.ofccoin.activity.OnlineServiceActivity"
            android:label="在线客服" />
        <activity
            android:name="com.ofc.ofccoin.activity.InformationActivity"
            android:label="公告通知" />
        <activity
            android:name="com.ofc.ofccoin.activity.MyPosterActivity"
            android:label="我的海报" />
        <activity
            android:name="com.ofc.ofccoin.activity.TransferActivity"
            android:label="划转-创建合约" />
        <activity
            android:name="com.ofc.ofccoin.activity.TransferListActivity"
            android:label="合约记录" />
        <activity
            android:name="com.ofc.ofccoin.activity.TransferDetailActivity"
            android:label="合约详情" />
        <activity
            android:name="com.ofc.ofccoin.activity.QRCodeActivity"
            android:label="收款二维码" />
        <activity
            android:name="com.ofc.ofccoin.view.zxing.CaptureActivity"
            android:label="扫一扫" />
        <activity
            android:name="com.ofc.ofccoin.activity.ScavengingPaymentActivity"
            android:label="扫码转账" />
        <activity
            android:name="com.ofc.ofccoin.activity.TransferRecordActivity"
            android:label="转账记录" />
        <activity
            android:name="com.ofc.ofccoin.activity.BankCardSettingActivity"
            android:label="绑定银行卡" />
        <activity
            android:name="com.ofc.ofccoin.activity.ScanCodePaymentActivity"
            android:label="扫码支付" />
        <activity
            android:name="com.ofc.ofccoin.activity.BankPaymentActivity"
            android:label="银联支付" />
        <activity
            android:name="com.ofc.ofccoin.activity.NewcomerRewardActivity"
            android:label="签到有奖" />
        <activity
            android:name="com.ofc.ofccoin.activity.VerifiedActivity"
            android:label="实名认证" />
        <!--全面屏适配-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <!--极光推送-->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace">

        </service>
        <!--极光推送-->
        <receiver
            android:name="com.ofc.ofccoin.utils.jpush.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.ofc.ofccoin.utils.jpush.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="${applicationId}"></category>
            </intent-filter>
        </receiver>

        <!--7.0限制-私有目录被限制访问-->
        <!--exported:要求必须为false，为true则会报安全异常。
        grantUriPermissions:true，表示授予 URI 临时访问权限。-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

        <!--9.0-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

    </application>

</manifest>