<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fone.fone">

    <!--网络权限问题-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--8.0安装需要的权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--读写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--读取手机信息-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--读取日志-->
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <!--9.0权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Android Q后台定位权限-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />


    <!--录音权限-->
    <!--<uses-permission android:name="android.permission.RECORD_AUDIO" />-->

    <!-- 振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />


    <!--Android 10 停用过滤视图，使用旧版存储模式
    android:requestLegacyExternalStorage="true"
    -->
    <application
        android:name="com.fone.fone.MyApplication"
        android:allowBackup="true"
        android:configChanges="locale"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:maxAspectRatio="2.4"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:windowIsTranslucent="false">
        <activity
            android:name="com.fone.fone.activity.HelloActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"><!--//全屏-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.fone.fone.utils.permission.PermissionsActivity"
            android:label="权限页" />
        <activity
            android:name="com.fone.fone.activity.GuideActivity"
            android:label="引导页"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.fone.fone.activity.SelectCountryActivity"
            android:label="选择国家" />
        <activity
            android:name="com.fone.fone.activity.MainActivity"
            android:label="主页">
            <!--点击通知默认打开-->
            <intent-filter>
                <action android:name="${applicationId}.default.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fone.fone.activity.LoginActivity"
            android:label="登录" />
        <activity
            android:name="com.fone.fone.activity.ForgetPasswordActivity"
            android:label="忘记密码" />
        <activity
            android:name="com.fone.fone.activity.RegisteredActivity"
            android:label="注册" />
        <activity
            android:name="com.fone.fone.activity.WebContentActivity"
            android:label="网页">
            <!--点击通知默认打开-->
            <!--<intent-filter>
                <action android:name="${applicationId}.default.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>-->
        </activity>
        <activity
            android:name="com.fone.fone.activity.TESTActivity"
            android:label="测试" />
        <activity
            android:name="com.fone.fone.activity.TESTActivity_MPChart"
            android:label="测试" />

        <activity
            android:name="com.fone.fone.activity.PastListActivity"
            android:label="往期列表" />
        <activity
            android:name="com.fone.fone.activity.PredictionDetailActivity"
            android:label="预测详情">
            <!--点击通知默认打开-->
            <!--<intent-filter>
                <action android:name="${applicationId}.default.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>-->
        </activity>
        <activity
            android:name="com.fone.fone.activity.PredictionDetailActivity_MPChart"
            android:label="预测详情_MPChart" />
        <activity
            android:name="com.fone.fone.activity.Fragment1DeatilActivity"
            android:label="合约详情" />
        <!--我的-->
        <activity
            android:name="com.fone.fone.activity.AboutActivity"
            android:label="关于我们" />
        <activity
            android:name="com.fone.fone.activity.SetUpActivity"
            android:label="设置" />
        <activity
            android:name="com.fone.fone.activity.HelpCenterActivity"
            android:label="帮助中心" />
        <activity
            android:name="com.fone.fone.activity.MyProfileActivity"
            android:label="资料管理" />
        <activity
            android:name="com.fone.fone.activity.SetTransactionPasswordActivity"
            android:label="修改交易密码" />
        <activity
            android:name="com.fone.fone.activity.ChangePasswordActivity"
            android:label="修改登录密码" />
        <activity
            android:name="com.fone.fone.activity.SelectAddressActivity"
            android:label="地址管理" />
        <activity
            android:name="com.fone.fone.activity.SelectWalletAddressActivity"
            android:label="地址管理" />
        <activity
            android:name="com.fone.fone.activity.SetAddressActivity"
            android:label="ETH地址管理和GUS地址管理" />
        <activity
            android:name="com.fone.fone.activity.ChangeServiceNumActivity"
            android:label="修改服务代码" />
        <activity
            android:name="com.fone.fone.activity.ServiceCenter_NoActivity"
            android:label="服务中心-未申请" />
        <activity
            android:name="com.fone.fone.activity.ServiceCenter_YesActivity"
            android:label="服务中心-申请通过" />
        <activity
            android:name="com.fone.fone.activity.ServiceCenter_MoreActivity"
            android:label="服务中心-列表" />
        <activity
            android:name="com.fone.fone.activity.SetServiceCenterActivity"
            android:label="服务中心-创建" />
        <activity
            android:name="com.fone.fone.activity.ShareActivity"
            android:label="推广" />
        <activity
            android:name="com.fone.fone.activity.SharePeopleActivity"
            android:label="推广用户" />
        <activity
            android:name="com.fone.fone.activity.OFCSharePeopleActivity"
            android:label="推广用户-OFC" />
        <activity
            android:name="com.fone.fone.activity.OFCAccountDetailActivity"
            android:label="OFC钱包" />
        <activity
            android:name="com.fone.fone.activity.AccountDetailActivity"
            android:label="我的钱包" />
        <activity
            android:name="com.fone.fone.activity.RechargeActivity"
            android:label="充值" />
        <activity
            android:name="com.fone.fone.activity.HuiGouOFCActivity"
            android:label="回购" />
        <activity
            android:name="com.fone.fone.activity.HuiGouListActivity"
            android:label="回购记录" />
        <activity
            android:name="com.fone.fone.activity.ZhiYaOFCActivity"
            android:label="质押" />
        <activity
            android:name="com.fone.fone.activity.OFCRechargeActivity"
            android:label="OFC充值" />
        <activity
            android:name="com.fone.fone.activity.AddFenHongActivity"
            android:label="分红" />
        <activity
            android:name="com.fone.fone.activity.FenHongListActivity"
            android:label="分红记录" />
        <activity
            android:name="com.fone.fone.activity.AddressManagementActivity"
            android:label="币地址管理" />
        <activity
            android:name="com.fone.fone.activity.AddressActivity"
            android:label="币地址" />
        <activity
            android:name="com.fone.fone.activity.OFCSetAddressActivity"
            android:label="OFC币地址" />
        <activity
            android:name="com.fone.fone.activity.MyRechargeActivity"
            android:label="我的充值" />
        <activity
            android:name="com.fone.fone.activity.RechargeDetailActivity"
            android:label="充值详情" />
        <activity
            android:name="com.fone.fone.activity.TakeCashActivity"
            android:label="提现" />
        <activity
            android:name="com.fone.fone.activity.OFCTakeCashActivity"
            android:label="OFC提现" />
        <activity
            android:name="com.fone.fone.activity.MyTakeCashActivity"
            android:label="我的提现" />
        <activity
            android:name="com.fone.fone.activity.TakeCashDetailActivity"
            android:label="提现详情" />
        <activity
            android:name="com.fone.fone.activity.SharePosterActivity"
            android:label="有奖邀请" />
        <activity
            android:name="com.fone.fone.activity.SchoolActivity"
            android:label="学院" />
        <activity
            android:name="com.fone.fone.activity.OnlineServiceActivity"
            android:label="在线客服" />
        <activity
            android:name="com.fone.fone.activity.InformationActivity"
            android:label="公告通知" />
        <activity
            android:name="com.fone.fone.activity.MyPosterActivity"
            android:label="我的海报" />
        <activity
            android:name="com.fone.fone.activity.TransferActivity"
            android:label="划转-创建合约" />
        <activity
            android:name="com.fone.fone.activity.TransferListActivity"
            android:label="合约记录" />
        <activity
            android:name="com.fone.fone.activity.TransferDetailActivity"
            android:label="合约详情" />
        <activity
            android:name="com.fone.fone.activity.QRCodeActivity"
            android:label="收款二维码" />
        <activity
            android:name="com.fone.fone.view.zxing.CaptureActivity"
            android:label="扫一扫" />
        <activity
            android:name="com.fone.fone.activity.ScavengingPaymentActivity"
            android:label="扫码转账" />
        <activity
            android:name="com.fone.fone.activity.TransferRecordActivity"
            android:label="转账记录" />
        <activity
            android:name="com.fone.fone.activity.NewcomerRewardActivity"
            android:label="签到有奖" />
        <activity
            android:name="com.fone.fone.activity.VerifiedActivity"
            android:label="实名认证" />
        <activity
            android:name="com.fone.fone.view.face.LivenessActivity"
            android:label="人脸识别" />
        <activity
            android:name="com.fone.fone.activity.VerfiedResultActivity"
            android:label="认证结果" />


        <activity
            android:name="com.fone.fone.activity.DRVTJiaoYiActivity"
            android:label="DRVT交易" />
        <activity
            android:name="com.fone.fone.activity.DRVTJiaoyiListActivity"
            android:label="交易记录" />
        <activity
            android:name="com.fone.fone.activity.DRVTBuyActivity"
            android:label="DRVT购买" />
        <activity
            android:name="com.fone.fone.activity.DRVTSellActivity"
            android:label="DRVT出售" />
        <activity
            android:name="com.fone.fone.activity.DRVTSharePeopleActivity"
            android:label="推广用户-DRVT" />

        <activity
            android:name="com.fone.fone.activity.USDTJiaoYiActivity"
            android:label="USDT交易" />
        <activity
            android:name="com.fone.fone.activity.USDTBuyActivity"
            android:label="USDT购买" />
        <activity
            android:name="com.fone.fone.activity.USDTJiaoyiListActivity"
            android:label="交易记录" />
        <activity
            android:name="com.fone.fone.activity.USDTOrderInfoActivity"
            android:label="交易详情" />
        <activity
            android:name="com.fone.fone.activity.BankCardSettingActivity"
            android:label="绑定银行卡" />

        <!--全面屏适配-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="414" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="896" />
        <!--<meta-data
            android:name="design_width_in_dp"
            android:value="562" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="1218" />-->

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <!--查看mob推送日志-->
        <meta-data
            android:name="com.mob.mobpush.debugLevel"
            android:value="4" />
        <!--配置华为-->
        <receiver android:name="com.mob.pushsdk.plugins.huawei.PushHaiWeiRevicer">
            <intent-filter>
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <action android:name="com.huawei.android.push.intent.CLICK" />
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
                <action android:name="com.huawei.intent.action.PUSH_DELAY_NOTIFY" />
            </intent-filter>
        </receiver>

        <!--7.0限制-私有目录被限制访问-->
        <!--exported:要求必须为false，为true则会报安全异常。
        grantUriPermissions:true，表示授予 URI 临时访问权限。-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

        <!--9.0-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!--保活-->
        <service android:name="com.fone.fone.utils.TraceServiceImpl" />

    </application>

    <!--人脸-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

</manifest>